<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>ListBuy</display-name>
  
  <filter>
		<filter-name>FiltroHibernate</filter-name>
		<filter-class>ca.tds.op.hibernate.FiltroHibernate</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>FiltroHibernate</filter-name>
		<url-pattern>/WS/*</url-pattern>
	</filter-mapping>
  
</web-app>